StratML.Core/ThreeFive/StratML35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="StratML35"
    targetNamespace="http://schemas.stratml.us/3.5"
    elementFormDefault="qualified"
    xmlns="http://schemas.stratml.us/3.5"
    xmlns:stratml="urn:ISO:std:iso:17469:tech:xsd:PerformancePlanOrReport"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:import namespace="urn:ISO:std:iso:17469:tech:xsd:PerformancePlanOrReport" 
             schemaLocation="..\Two\PerformancePlanOrReport20160216.xsd"/>

  <xs:element name="OrganizationalStrategyDocument">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="Strategy">
          <xs:sequence>
            <xs:element name="Organization" type="Organization" maxOccurs="1" minOccurs="1"/>
            <xs:group ref="DocumentMetaData" maxOccurs="1" minOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="DocumentMetaData">
    <xs:sequence>
      <xs:element name="Submitter" type="Person" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="stratml:AdministrativeInformation" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="Strategy">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:sequence>
            <xs:element name="Mission" type="Mission" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Vision" type="Vision" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Value" type="Value" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="Goal" type="Goal" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="Map" type="Map" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Mission">
    <xs:complexContent>
      <xs:extension base="Artifact">
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Vision">
    <xs:complexContent>
      <xs:extension base="Artifact">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Value">
    <xs:complexContent>
      <xs:extension base="Artifact">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Artifact">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="SequenceIndicator" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="StakeholderPerson" type="StakeholderPerson" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="StakeholderOrganization" type="StakeholderOrganization" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="OtherInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Relationship">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="ReferentIdentifier" type="xs:ID" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="RelationshipType" type="RelationshipType" default="Peer"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RelationshipType">
    <xs:union memberTypes="stratml:RelationshipTypeType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="StakeholderPerson">
    <xs:complexContent>
      <xs:extension base="Person">
        <xs:sequence>
          <xs:element name="Relationship" type="Relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StakeholderOrganization">
    <xs:complexContent>
      <xs:extension base="Organization">
        <xs:sequence>
          <xs:element name="Relationship" type="Relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Objective">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="PerformanceIndicator" type="PerformanceIndicator" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Goal">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="Objective" type="Objective" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PerformanceIndicator">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="MeasurementDimension" type="NameIdentifier" maxOccurs="1" minOccurs="0"/>
          <xs:element name="UnitOfMeasurement" type="NameIdentifier" maxOccurs="1" minOccurs="0"/>
          <xs:element name="TargetResults">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UnitResult" type="MeasurementResultUnits" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="DescriptorResult" type="MeasurementResultDescriptor" maxOccurs="unbounded" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ActualResults">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UnitResult" type="MeasurementResultUnits" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="DescriptorResult" type="MeasurementResultDescriptor" maxOccurs="unbounded" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementResult">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:ID" maxOccurs="1" minOccurs="1"/>
      <xs:element name="StartDate" type="xs:date" maxOccurs="1" minOccurs="1"/>
      <xs:element name="EndDate"  type="xs:date" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementResultUnits">
    <xs:complexContent>
      <xs:extension base="MeasurementResult">
        <xs:sequence>
          <xs:element name="NumberOfUnits" type="xs:double" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementResultDescriptor">
    <xs:complexContent>
      <xs:extension base="MeasurementResult">
        <xs:sequence>
          <xs:element name="Descriptor" maxOccurs="1" minOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="0"/>
                <xs:element name="Value" type="xs:string" maxOccurs="1" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Actor">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="Contact" type="ContactInformation" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Role" type="Role" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Person">
    <xs:complexContent>
      <xs:extension base="Actor">
        <xs:sequence>
          <xs:element name="GivenName" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Surname" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organization">
    <xs:complexContent>
      <xs:extension base="Actor">
        <xs:sequence>
          <xs:element name="Strategy" type="Strategy" maxOccurs="1" minOccurs="0"/>
          
          <xs:element name="Organization" type="Organization" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Acronym" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="IsVirtual" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Map">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="Type" type="MapType" default="Relationship" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Weight" type="xs:double" maxOccurs="1" minOccurs="1" default="1"/>
          <xs:element name="MappedIdentifier" type="xs:ID" maxOccurs="unbounded" minOccurs="2"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>
  <xs:simpleType name="MapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Relationship"/>
      <xs:enumeration value="Conflict"/>
      <xs:enumeration value="Supports"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:ID" maxOccurs="1" minOccurs="1"/>
      <xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EmailAddress" type="Email" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address" type="PhysicalAddress" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Website" type="WebAddress" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactMechanism">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="Type" type="xs:string" maxOccurs="1" minOccurs="1" default="Primary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalAddress">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="AddressLabel" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Street" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Locality" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Region" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="PostalCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Country" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="POBox" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="ExtendedAddress" type="xs:string" maxOccurs="1" minOccurs="0"/>        
      </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhoneNumber">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="Number" type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Email">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="Email" type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WebAddress">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="WebAddress" type="xs:string" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Role">
    <xs:complexContent>
      <xs:extension base="NameIdentifier">
        <xs:sequence>
          <xs:element name="RoleType" type="RoleType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Performer"/>
      <xs:enumeration value="Beneficiary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NameIdentifier">
    <xs:sequence>
      <xs:element name="Identifer" type="xs:ID" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
