StratML.Core/ThreeFive/StratML35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="StratML35"
    targetNamespace="http://schemas.stratml.us/3.5"
    elementFormDefault="qualified"
    xmlns="http://schemas.stratml.us/3.5"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="OrganizationalStrategyDocument">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="Strategy">
          <xs:sequence>
            <xs:element name="Organization" type="Organization" maxOccurs="1" minOccurs="1"/>
            <xs:group ref="DocumentMetaData" maxOccurs="1" minOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="DocumentMetaData">
    <xs:sequence>
      <xs:element name="Submitter" type="Individual" minOccurs="1" maxOccurs="1"/>
      <xs:element name="AdministrativeInformation" type="AdministrativeInformation" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AdministrativeInformation" id="uuid-32864389-230a-4f77-9c09-c083386fcad9">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:ID"  minOccurs="1" maxOccurs="1"/>
      <xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PublicationDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Source" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Strategy">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:sequence>
            <xs:element name="Mission" type="Mission" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Vision" type="Vision" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Value" type="Value" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="Goal" type="Goal" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="DrivingForce" type="DrivingForce" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Framework" type="StrategyFramework" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Mission">
    <xs:complexContent>
      <xs:extension base="ArtifactBase">
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Vision">
    <xs:complexContent>
      <xs:extension base="ArtifactBase">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Value">
    <xs:complexContent>
      <xs:extension base="Artifact">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArtifactBase">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Stakeholders" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Individual" type="IndividualStakeholder" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="Organization" type="OrganizationStakeholder" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="Group" type="GroupStakeholder" maxOccurs="unbounded" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
         
          <xs:element name="OtherInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Artifact" abstract="true">
    <xs:complexContent>
      <xs:extension base="ArtifactBase">
        <xs:sequence>
          <xs:element name="SequenceIndicator" type="xs:string" maxOccurs="1" minOccurs="0"/>
          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Relationship">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="ReferentIdentifier" type="xs:IDREF" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="RelationshipType" type="RelationshipType" default="Peer_To"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RelationshipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Broader_Than"/>
      <xs:enumeration value="Peer_To"/>
      <xs:enumeration value="Narrower_Than"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IndividualStakeholder">
    <xs:complexContent>
      <xs:extension base="Individual">
        <xs:sequence>
          <xs:element name="Relationship" type="Relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationStakeholder">
    <xs:complexContent>
      <xs:extension base="Organization">
        <xs:sequence>
          <xs:element name="Relationship" type="Relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupStakeholder">
    <xs:complexContent>
      <xs:extension base="Group">
        <xs:sequence>
          <xs:element name="Relationship" type="Relationship" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Objective">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="Categorization" type="CategoryGroup" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ManagementChallenge" type="ManagementChallenge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="QuantitativePerformanceIndicator" type="UnitPerformanceIndicator" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="QualitativePerformanceIndicator" type="DescriptorPerformanceIndicator" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="QualitativeScoredPerformanceIndicator" type="ScoredPerformanceIndicator" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManagementChallenge">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Probability" type="Priority" maxOccurs="1" minOccurs="1"/>
          <xs:element name="Impact" type="Priority" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Goal">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="Objective" type="Objective" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="Authority" type="Authority" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="Place" type="PhysicalAddress" maxOccurs="1" minOccurs="0"/>
          <xs:element name="SuccessFactor" type="SuccessFactor" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Priority" type="Priority" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PerformanceIndicatorBase">
    <xs:complexContent>
      <xs:extension base="Artifact">
        <xs:sequence>
          <xs:element name="MeasurementDimension" type="Base" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Categorization" type="CategoryGroup" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="Keyness" type="Keyness" maxOccurs="1" minOccurs="0"/>
          <xs:element name="ValueChainStage" type="ValueChainStageType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnitPerformanceIndicator">
    <xs:complexContent>
      <xs:extension base="PerformanceIndicatorBase">
        <xs:sequence>
          <xs:element name="UnitOfMeasurement" type="Base" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Actual" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultUnits" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Target" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultUnits" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DescriptorPerformanceIndicator">
    <xs:complexContent>
      <xs:extension base="PerformanceIndicatorBase">
        <xs:sequence>
          <xs:element name="Actual" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultDescriptor" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Target" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultDescriptor" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ScoredPerformanceIndicator">
    <xs:complexContent>
      <xs:extension base="PerformanceIndicatorBase">
        <xs:sequence>
          <xs:element name="RatingSet" type="RatingSet" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Actual" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultScore" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Target" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Result" type="MeasurementResultScore" maxOccurs="unbounded" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RatingSet">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Score" type="Score" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Score">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Weight" type="xs:positiveInteger" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementResult">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:ID" maxOccurs="1" minOccurs="1"/>
      <xs:element name="StartDate" type="xs:date" maxOccurs="1" minOccurs="1"/>
      <xs:element name="EndDate"  type="xs:date" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementResultUnits">
    <xs:complexContent>
      <xs:extension base="MeasurementResult">
        <xs:sequence>
          <xs:element name="NumberOfUnits" type="xs:double" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementResultScore">
    <xs:complexContent>
      <xs:extension base="MeasurementResult">
        <xs:sequence>
          <xs:element name="Score" type="Score" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementResultDescriptor">
    <xs:complexContent>
      <xs:extension base="MeasurementResult">
        <xs:sequence>
          <xs:element name="Descriptor" maxOccurs="1" minOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="0"/>
                <xs:element name="Value" type="xs:string" maxOccurs="1" minOccurs="1"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Actor" abstract="true">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Contact" type="ContactInformation" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Role" type="Role" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Competency" type="Competency" maxOccurs="unbounded" minOccurs="0"/>
          <xs:element name="ValueProposition" type="Base" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Authority">
    <xs:complexContent>
      <xs:extension base="Actor">
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Individual">
    <xs:complexContent>
      <xs:extension base="Actor">
        <xs:sequence>
          <xs:element name="GivenName" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Surname" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent>
      <xs:extension base="Actor">
        <xs:sequence>
          <xs:element name="Individual" type="Individual" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Acronym" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Type" type="SpecialOrganizationType" minOccurs="0" maxOccurs="1"/>          
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organization">
    <xs:complexContent>
      <xs:extension base="Group">
        <xs:sequence>
          <xs:element name="Strategy" type="Strategy" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Organization" type="Organization" minOccurs="0" maxOccurs="unbounded"/>
          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StrategyFramework">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Data" maxOccurs="1" minOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:any maxOccurs="1" minOccurs="1" processContents="strict" namespace="http://schemas.stratml.us/3.5/strategy/framework"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Map">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Type" type="MapType" default="Relationship" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Weight" type="xs:double" maxOccurs="1" minOccurs="1" default="1"/>
          <xs:element name="PublicationDate" type="xs:date" maxOccurs="1" minOccurs="0"/>
          <xs:element name="MappedIdentifier" type="xs:IDREF" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>
  <xs:simpleType name="MapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Relationship"/>
      <xs:enumeration value="Conflict"/>
      <xs:enumeration value="Supports"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:ID" maxOccurs="1" minOccurs="1"/>
      <xs:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EmailAddress" type="Email" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Address" type="PhysicalAddress" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Website" type="WebAddress" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactMechanism">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Type" type="xs:string" maxOccurs="1" minOccurs="0" default="Primary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalAddress">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="AddressLabel" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Street" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Locality" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Region" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="PostalCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="Country" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="POBox" type="xs:string" maxOccurs="1" minOccurs="0"/>
          <xs:element name="ExtendedAddress" type="xs:string" maxOccurs="1" minOccurs="0"/>        
      </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhoneNumber">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="Number" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Email">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="Email" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WebAddress">
    <xs:complexContent>
      <xs:extension base="ContactMechanism">
        <xs:sequence>
          <xs:element name="WebAddress" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Role">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="RoleType" type="RoleType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Performer"/>
      <xs:enumeration value="Beneficiary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element name="Identifer" type="xs:ID" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ReferenceIdentifier" type="xs:IDREF" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Map" type="Map" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InternalOrExternal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Internal"/>
      <xs:enumeration value="External"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InhibitingOrEnabling">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Enabling"/>
      <xs:enumeration value="Inhibiting"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DrivingForce">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="InhibitingOrEnabling" type="InhibitingOrEnabling" maxOccurs="1" minOccurs="1"/>
          <xs:element name="InternalOrExternal" type="InternalOrExternal" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SuccessFactor">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Criticality" type="Criticality" maxOccurs="1" minOccurs="1"/>
          <xs:element name="InternalOrExternal" type="InternalOrExternal" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Criticality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Critical"/>
      <xs:enumeration value="Contributory"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Priority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="To_Be_Determined"/>
      <xs:enumeration value="High"/>
      <xs:enumeration value="Medium"/>
      <xs:enumeration value="Low"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryGroup">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Category" type="Category" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:sequence>
          <xs:element name="Website" type="WebAddress" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Keyness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="To_Be_Determined"/>
      <xs:enumeration value="Key"/>
      <xs:enumeration value="Secondary"/>
      <xs:enumeration value="Ancillary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValueChainStageType">
    <xs:annotation>
      <xs:documentation source="documentation" xml:lang="EN">An element enabling the designation of a performance indicator as being of one of five enumerated types.  When combined in serial order, the five types comprise the full chain for the delivery of value to stakeholders.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Outcome"/>
      <xs:enumeration value="Output_Processing"/>
      <xs:enumeration value="Output"/>
      <xs:enumeration value="Input_Processing"/>
      <xs:enumeration value="Input"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Competency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Core"/>
      <xs:enumeration value="Supporting"/>
      <xs:enumeration value="Ancillary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SpecialOrganizationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Board_of_Directors"/>
      <xs:enumeration value="Committee"/>
      <xs:enumeration value="Conference"/>
      <xs:enumeration value="Consortium"/>
      <xs:enumeration value="Cooperative"/>
      <xs:enumeration value="Exposition"/>
      <xs:enumeration value="Family"/>
      <xs:enumeration value="Individual"/>
      <xs:enumeration value="Initiative"/>
      <xs:enumeration value="Investment"/>
      <xs:enumeration value="Program"/>
      <xs:enumeration value="Project"/>
      <xs:enumeration value="Student"/>
      <xs:enumeration value="System"/>
      <xs:enumeration value="Virtual"/>
      <xs:enumeration value="Work_Group"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

